<template>
    <div class="row">
        <div class="login">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Wachtwoord Wijzigen</h1></div>
                <p class="panel-body">
                    Om technische redenen is het momenteel niet mogelijk om het wachtwoord zelf opnieuw in te stellen. Gelieve contact op te nemen met info@practinet.be om dit door ons team handmatig aan te laten passen.
                </p>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Validation from '../common/resources/js/components/ValidationComponent.vue';
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component({
        name: 'change-password',
        components: {
            Validation
        }
    })
    export default class ChangePassword extends Vue {

        errorMessage = null;
        errors = {};
        message = '';
        input = {
            password: '',
            passwordConfirmed: '',
            passwordOld: ''
        };

        @Prop({type: String, default: () => '/update-password'})
        endpoint !: string;

        updatePassword(event: any): void {
            event.preventDefault();
            this.errors = {};
            this.errorMessage = null;
            (this.$refs.resetBtn as HTMLButtonElement).disabled = true;

            this.$http.post(this.endpoint, {...this.input, email: ""})
                .then((response) => {
                    this.$toasted.success(response.data.message);
                    this.$router.push({name: 'home'})
                }).catch(({response}) => {
                    if (response.status === 422) {
                        this.errors = response.data.errors;
                        this.errorMessage = response.data.message;
                    }
                }).finally(() => {
                    (this.$refs.resetBtn as HTMLButtonElement).disabled = false;
                });
        }
    };
</script>

<style scoped>

</style>
