<template>
    <div v-if="user && user.guestLogin && user.guestLogin.seenIntroMessage === false"
         class="initial-login-prompt">
        <aside class="initial-login-message">
            <p>
                Beste,
            </p>
            <p>
                Via onderstaande link heeft u gedurende 7dagen toegang tot de rekentool van Gallop Tax Shelter. Na
                afloop van voormelde periode komt de toegang automatisch te vervallen.
            </p>
            <p>
                Door te klikken op onderstaande link naar de rekentool, verklaart u zich akkoord met de hiernavolgende
                gebruiksvoorwaarden:
            </p>
            <p>
                Onderstaande link is strikt persoonlijk. Het is u in geen geval toegestaan deze link te delen met
                derden, noch derden op enige andere wijze toegang te verschaffen tot de rekentool van Gallop Tax
                Shelter. Het is u uitsluitend toegestaan de rekentool te gebruiken om u een beeld te vormen betreffende
                de mogelijkheden en de impact van uw eigen eventuele investering onder het Tax Shelter-stelsel via
                Gallop Tax Shelter. Het is u in geen geval toegestaan de rekentool, noch enig onderdeel ervan, voor
                andere, al dan niet commerciële doeleinden te gebruiken. Het gebruik van de rekentool is gratis, wordt u
                aangeboden zonder enige garantie inzake volledigheid, juistheid, actualiteit en beschikbaarheid, en is
                geheel op eigen risico. Neem geen investeringsbeslissing enkel en alleen gebaseerd op de resultaten
                gegenereerd door de rekentool, maar win steeds voorafgaandelijk voldoende advies in via Gallop Tax
                Shelter en uw persoonlijke adviseur(s). Een Tax Shelter-investering houdt tevens bepaalde risico’s in
                die uitgebreid beschreven zijn in het Prospectus van Gallop Tax Shelter, te allen tijde raadpleegbaar
                via https://www.galloptaxshelter.be/nl/prospectus. Investeerders wordt aangeraden het Prospectus en in
                het bijzonder de risicofactoren aandachtig te lezen vooraleer hun investeringsbeslissing te nemen.
                Gallop Tax Shelter is in geen geval aansprakelijk voor eventuele schade die u zou lijden door het
                gebruik van de rekentool met schending van voormelde gebruiksvoorwaarden. Ingeval van schending van
                voormelde gebruiksvoorwaarden, verbindt u zich er tevens toe Gallop Tax Shelter te vrijwaren voor alle
                eventuele schade die Gallop Tax Shelter daardoor op haar beurt zou lijden. Ingeval van verdere vragen
                betreffende voormelde gebruiksvoorwaarden, het gebruik van de rekentool en/of een Tax
                Shelter-investering via Gallop Tax Shelter in het algemeen, aarzel dan niet contact op te nemen met
                Annik Cardoen via 0472/95.79.31 of annik.cardoen@galloptaxshelter.be .
            </p>
        </aside>
        <validation v-if="error" class="alert alert-danger" :errors="[ error ]"></validation>
        <button class="initial-login-approval-button" @click="sendSeenIntroMessage">Verder</button>
    </div>
</template>

<script>

    import Validation from "../common/resources/js/components/ValidationComponent";

    export default {
        components: {
            Validation
        },
        props: {
            user: {
                required: true,
                type: Object
            }
        },
        data() {
            return {
                checkbox: true,
                error: null
            }
        },
        methods: {
            sendSeenIntroMessage() {
                this.error = null;
                if (this.checkbox === false) {
                    this.error = 'Gelieve het bericht eerst te lezen en goed te keuren voor u verder gaat.'
                } else {
                    this.$http.post(process.env.NOVA_URL + '/api/seen-intro-message')
                        .then(() => {
                            this.$router.push({name: 'root'});
                        })
                }
            }
        }
    }

</script>