<template>
  <div class="container">
    <div class="login">
      <div class="panel panel-default">
        <div v-if="$route.params.message" class="alert alert-info" v-html="$route.params.message"></div>
        <div class="panel-heading"><h1>Aanmelden</h1></div>
        <div class="panel-body">
          <div v-if="errormessage" class="alert alert-danger">
            {{ errormessage }}
          </div>
          <form class="form-horizontal" @submit="login">
            <div class="form-group">
              <label for="email" class="">E-mailadres</label>
              <input id="email" type="email" v-model="email" class="form-control" name="email"
                     required autofocus>
              <validation class="alert alert-danger" :errors="error.email"
                          v-if="error.email"></validation>
            </div>
            <div class="form-group">
              <label for="password" class="">Wachtwoord</label>
              <input id="password" type="password" v-model="password" class="form-control" name="password"
                     required>
              <validation class="alert alert-danger" :errors="error.password"
                          v-if="error.password"></validation>
            </div>
            <div class="form-group">
              <div class="login">
                <button @click="login" class="btn btn-primary" id="login-btn">
                  Aanmelden
                </button>
                <router-link id="forgot-password" :to="{ name: 'send-reset' }" class="btn btn-link">
                  Wachtwoord vergeten?
                </router-link>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Validation from "../common/resources/js/components/ValidationComponent.vue";
import {Component, Prop, Vue} from "vue-property-decorator";
import {Location, Route} from "vue-router";
import {userHelper} from "../../src/UserHelper";
import {AuthenticateMiddleware} from "./AuthenticateMiddleware";

@Component({
  name: 'login',
  components: {
    Validation
  }
})
export default class Login extends Vue {

  email = '';
  password = '';
  error = {};
  errormessage = null;

  @Prop({type: String, default: () => '/token'})
  endpoint !: string;

  @Prop({
    type: Object, default: () => {
      return {name: 'structure', params: {slug: 'praktijkgidsen'}} as Location
    }
  })
  redirectRoute !: Location;

  @Prop({type: String, default: () => process.env.APP_DOMAIN})
  domain !: string;

  async login(event: Event) {
    event.preventDefault();
    this.error = {};
    this.errormessage = null;
    try {
      const response = await this.$http.post(this.endpoint, {
        email: this.email,
        password: this.password,
        aud: 'practinet'
      });
      const token = response.data.token;
      this.error = {};
      this.errormessage = null;
      userHelper.registerTokens(token, response.data.authenticationToken)
      this.$router.push(this.routeToLocation(AuthenticateMiddleware.PREVIOUS_ROUTE) ?? this.redirectRoute).then(() => AuthenticateMiddleware.PREVIOUS_ROUTE = null);
    } catch (error) {
      const response = error.response;
      if (response?.status === 422) {
        const errors = response.data.errors;
        this.error = !errors ? {} : errors;
        this.errormessage = response.data.message;
      }
    }
  }
  private routeToLocation(route: Route | undefined | null): Location | null {
    if (!route) {
      return null;
    }

    return {
      path: route.path ?? undefined,
      name: route.name ?? undefined,
      params: route.params
    };
  }
};
</script>
